[db]
engine=mysql+mysqlconnector://username:pass@host/
schema=uselab_mooc
index=coursera_index

[schemas]
#schemas=course-001,course-002

[coursera]
username=
password=

[ancillary]
clickstream=
demographics=
intent=
sql=